{{ form_start(form) }}
<div class="list-group">
    {{ form_widget(form) }}
</div>
<div class="text-center">
    <a href="{{ path('series') }}"><button type="submit" class="btn btn-success">{{ button_label|default('Ajouter') }}</button></a>
</div>
{{ form_end(form) }}
